<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Cart Fault Detection</title>
</head>
<body>

<!-- Welcome Message -->
<h1>Welcome to Credit Cart Fault Detection</h1>
<p>
    Press "Train" if want to train the model again, you can just use "Test" for uploading a test Excel file.
</p>

<!-- Training Button -->
<a href="https://mm5f3fygum.ap-south-1.awsapprunner.com/train" target="_blank">
    <button style="margin-top: 20px; padding: 10px 20px; font-size: 16px;">Train</button>
</a>

<!-- Test Button -->
<a href="https://mm5f3fygum.ap-south-1.awsapprunner.com/predict" target="_blank">
    <button style="margin-left: 10px; margin-top: 20px; padding: 10px 20px; font-size: 16px;">Test</button>
</a>

</body>
</html>
